<div style="margin: 2rem 2rem 2rem 2rem;">

  <h1>{{title}}</h1>
  
  <p id="secreto">{{numeroSecreto}}</p>

  <mat-form-field class="example-full-width">
    <mat-label>Intento</mat-label>
    <input matInput id="input-intento" #intento maxlength="4" placeholder="Ex. 9410" type="text" [(ngModel)]="valorIntento">
    <mat-hint align="end">{{intento.value.length}} / 4</mat-hint>
  </mat-form-field>
  
  <button id="button-game" style="margin: 2rem;" mat-raised-button color="accent" type="submit" (click)="jugar()">Jugar</button>
  <br>
  <mat-form-field class="example-full-width" *ngIf="bandera">
    <mat-label>Respuesta</mat-label>
    <input matInput id="respuesta" value="{{respuesta}}">
  </mat-form-field>

</div>